//Custom style
ul, ul li { list-style: none; }
.h4, .h5, .h6, h4, h5, h6 { color: #666; }
.mt72 {
  margin-top: 72px;
}
.mb20 {
  margin-bottom: 20px;
}
.mr20 {
  margin-right: 20px;
}
.thumb {
  display: block;
  text-align: center;
  overflow: hidden;
  border: 1px #eee solid;
  background-size: contain;
  -o-background-size: contain;
  -ms-background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.panel-content {
  height:auto !important;
  height:750px;
  min-height:750px;
}
.designer, .work-num {
  padding-right: 12px;
}
.glyphicon-home, .glyphicon-th-list,.glyphicon-user {
  padding-right: 6px;
  color: #666;
}
.list-group-item {
  cursor: pointer;
}
small {
  padding-left: 12px;
}
.text-center, .c888 {
  color: #888;
}