//Custom style
ul, ul li { list-style: none; }
.h4, .h5, .h6, h4, h5, h6 { color: #333; }
.mt72 {
  margin-top: 72px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.b_line {
  padding-bottom: 10px;
  border-bottom: 1px #eee solid;
}
.row {
  width:auto !important;
  width:480px;
  min-width:480px;
}
.thumb {
  display: block;
  text-align: center;
  overflow: hidden;
  border: 1px #eee solid;
  background-size: contain;
  -o-background-size: contain;
  -ms-background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.panel-content {
  height:auto !important;
  height:750px;
  min-height:750px;
}
.designer, .work-num, .work-type, .article-type {
  padding-right: 12px;
}
.glyphicon-home, .glyphicon-th-list,.glyphicon-user,.glyphicon-time,.glyphicon-star, .glyphicon-sort-by-attributes-alt, .glyphicon-book {
  color: #666;
}
.glyphicon-home, .glyphicon-th-list, .glyphicon-sort-by-attributes-alt, .glyphicon-user {
  padding-right: 6px;
}
.list-group-item {
  cursor: pointer;
}
small {
  padding-left: 12px;
}
h4.text-center, .c888, .text-content p, .form-group label {
  color: #888;
}
.red {
  color: red;
}
.text-content img {
  width: auto!important;
  width: 640px;
  max-width: 640px;
  height: auto;
  border: none;
}
.text-keyword {
  a {
    padding: 0 6px;
  }
}
.ranking {
  .list-group-item {
    cursor: auto;
  }
  .pull-right {
    vertical-align: text-top;
  }
}
.article-item {
  margin-bottom: 0;
}
.article-item dt {
  padding-bottom: 6px;
}
.article-type-info {
  padding: 6px 0 12px 0;
}
.news-list {
  padding-left: 0;
  li {
    padding-left: 10px;
    position: relative;
    margin-bottom: 12px;
    span.dot {
      position: absolute;
      left: 0;
      top: 7px;
      width: 5px;
      height: 5px;
      background-color: #ddd;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
  }
}

//userhead
.userhead {
  padding: 25px 0;
  border-bottom: 1px #eee solid;
}
.sidebar a {
  color: #888;
}
table tr td {
  color: #888;
  a {
    padding-right: 5px;
  }
}
.sidebar a.curr, span.weike, span.blacklist, span.promote, span.del,span.add,span.edit {
  color: #337ab7;
}
span.weike, span.blacklist, span.promote, span.del,span.add,span.edit {
  cursor: pointer;
}